<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AsccidoctorJ</title>
  </head>
  <body>
    <h1>AsccidoctorJ</h1>
    <form action="/" method="POST">
      <textarea cols="100" rows="40" name="source"></textarea>
      <div>
        <label>
          <input type="radio" name="doctype" value="" checked/>
          HTML
        </label>
        <label>
          <input type="radio" name="doctype" value="docbook" />
           Docbook
        </label>
        <input type="submit" value="変換" title="AsciiDocを変換します"/>
      </div>
    </form>
  </body>
</html>
