<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AsccidoctorJ</title>
  </head>
  <body>
    <h1>AsccidoctorJ</h1>
    <form action="/" method="POST">
      <textarea cols="100" rows="40" name="source">
= Sample Document

[style one]
This is content of first content part

[[partId]]
[style two,role=partRole]
--
And content of second content part

This block can be as long as you want.
--
      </textarea>
      <div>
        <label>
          <input type="radio" name="doctype" value="" checked/>
          HTML
        </label>
        <label>
          <input type="radio" name="doctype" value="docbook" />
           Docbook
        </label>
        <input type="submit" value="変換" title="AsciiDocを変換します"/>
      </div>
    </form>
  </body>
</html>
